// Copyright 2022 Pera Wallet, LDA

// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

//    http://www.apache.org/licenses/LICENSE-2.0

// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

//
//   Config.xcconfig

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ALGOD_TOKEN = 0dw4Qu6ckPJTQY540Z0sEokH910KUWKjsf312fxNtTcVjw5UUhhlK4s4odcXIoEz
INDEXER_TOKEN = KegWFLYQnBNVeP4oHCX64dObBk8VemzYdNqsnAOIxYQ8aqJLQTYeVDQyZNnx1PZA
PROD_API_KEY = pera-mobile-ios-1vD0-X-ZqRMwgW9A7e-K9wv0v--0epo7
STAGING_API_KEY = pera-mobile-ios-staging-P-VdFuy3-a-L5HnW991-L-w7fzPZU1Xr
BIDALI_PROD_API_KEY = pk_obszzygjjzbp9oqewl44rq
BIDALI_STAGING_API_KEY = pk_6ppze8rn448cr1xc5rj0ki
SARDINE_PROD_API_KEY = dca4e1cf-461f-4a4c-a3c5-4c60fff03400
TRANSAK_PROD_API_KEY = 2d88f921-a7cd-4ad2-a02b-80cad34b1bf6
TRANSAK_STAGING_API_KEY = cd6892f1-eeea-4563-a45b-d6de19d1056a
