.DS_Store
*.xcbkptlist
*.xcuserstate
/build
/algorand.xcodeproj/xcuserdata
/algorand.xcodeproj/project.xcworkspace/xcuserdata
algorand.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
