<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460203195076-sk0vk42b5v6ku1lj1qohlvesa4tti2dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460203195076-sk0vk42b5v6ku1lj1qohlvesa4tti2dh</string>
	<key>API_KEY</key>
	<string>AIzaSyChIxIlbwV-RWgBs2hBdRHN-UOLTnWGlIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>460203195076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peralda.fifawallet</string>
	<key>PROJECT_ID</key>
	<string>fifa-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>fifa-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460203195076:ios:c78791039d7ddc59db2791</string>
</dict>
</plist>